html, body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 24px;
}

form fieldset {
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin: .5rem;
  padding: 1rem;
  flex: 1 1 33%;
}

form fieldset legend {
  font-weight: bold;
}

form fieldset label {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}

form fieldset label span {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
}

form fieldset input {
  width: 100%;
  margin: 0;
}

.download {
  text-align: center;
}

#preview {
  display: block;
  margin: 24px auto;
  width: 50%;
  height: auto;
  border: 1px solid lightgrey;
}

#canvas {
  display: none;
}
