html, body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.departement {
  box-sizing: border-box;
  width: 100%;
  padding: 32px;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 24px;
}

form fieldset {
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin: .5rem;
  padding: 1rem;
  flex: 1 1 33%;
}

form fieldset legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}

label span {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
}

input {
  width: 100%;
  margin: 0;
}

canvas {
  display: none;
}

.download {
  text-align: center;
  margin: 24px;
}

#previews {
  margin: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 500px;
}

#previews div {
  display: block;
  flex: 1 1 auto;
  border: 1px solid lightgrey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
